.all-services-page{
    display:flex;
    flex-direction:column;
    background-color:#f3f3f3;
    justify-content: center;
    align-content: center;
    margin-right:auto;
    margin-left:auto;
}

.cards-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-content: center;
    margin-top:10vh;
    flex-wrap: wrap;
    margin-right:auto;
    margin-left:auto;
}

.card{
    width:250px;
    height:300px;
    display:flex;
    margin-left:25px;
    margin-right:25px;
    margin-top:25px;
    margin-bottom:25px;
    overflow: hidden;
}

.type{
    font-size: 30px;
}

.details{
    font-size: 20px;
}

.info{
    font-size:15px;
    font-weight:bold;
}

