.login-page{
    display:flex;
    flex-direction: column;
    justify-content:center;
    justify-items: center;
    align-content: center;
    background-color: lightskyblue;
    height:100vh;
}

.logo{
    height:300px;
    width:500px;
    justify-self: center;
    margin-left: auto;
    margin-right:auto;
}

.login-container{
    display:flex;
    justify-content:center;
    align-content: center;
    align-self: center;
    background-color: white;
    flex-direction: column;
    width:400px;
    padding:15px;
    border-radius:10px;
}

.login-form{
    justify-content: center;
    align-content: center;
}

.signUp-form{
    justify-content: center;
    align-content: center;
}

.login-title{
    color:lightskyblue;
    font-size:28px;
    font-weight:bold;
}

.login-input{
    margin-top: 15px;
    margin-bottom:15px;
    margin-left: auto;
    margin-right: auto;
    width:300px;
}

.login-button{
    width:300px;
    margin:20px;
    font-size:18px;
    font-weight:bold;
}

.login-small-text{
    font-size:14px;
}

.change-login{
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    font-size:14px;
    width:300px;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    text-decoration-line: underline;
}