.profile-page{
    display:flex;
    flex-direction:column;
    background-color: rgb(238, 238, 238);
    margin-top:10vh;
    padding:1vh;
}

.logo{
    height:300px;
    width:500px;
    justify-self: center;
    margin-left: auto;
    margin-right:auto;
}

.form-container{
    display:flex;
    justify-content:center;
    align-content: right;
    align-self: center;
    background-color: white;
    flex-direction: column;
    width:400px;
    padding:15px;
    border-radius:10px;
}

.input-form{
    display: inline;
    padding-inline: 10px;
}

.save-button{
    width:300px;
    margin:20px;
    font-size:18px;
    font-weight:bold;
    align-self: center;
}

.login-error-message{
    color:red;
    font-size:14px;
}