.home-page{

}

.lheader {
    background-color: lightskyblue;
    width: 250px;
    height: 250px;
    position: absolute;
    left: auto;
}

.home-logo {
    display: block;
    width: 100%;
}

.rheader {
    background-color: lightskyblue;
    position: absolute;
    height: 250px;
    width: 100%;
    left: 250px;
}

    .h1 {
        text-align: left;
        padding-left: 100px;
        font-weight: bold;
    }

    .h2 {
        text-align: left;
        padding-left: 100px;
    }

.carousel {
    top: 250px;
    background-color: red;
}

.calendar {
    top: 750px;
    background-color: pink;
}