.landing-page{
    display:flex;
    flex-direction:column;
    
}

.jumbotron-div{
    display:flex;
    flex-direction: row;
    flex-direction: row;
    background-color: lightskyblue;
}

.jumbotron-segment{
    width:50%;
    margin-top:auto;
    margin-bottom:auto;

}

.jumbotron-title{
    font-size: 42px;
}

.jumbotron-text{
    font-size:24px;
    margin:0px;
}

.landing-page-segment{
    height:100vh;
}

.landing-logo{
    height:450px;
    width:450px;
    margin-top:auto;
    margin-bottom:auto;
}

.segment-title{
    color:black;
}